<section data-ng-controller="IssuesController">
  <h1>New Issue</h1>
  <md-content layout-padding id="new-issue-form" >
    <form name="newIssue" data-ng-submit="create()" novalidate>
  
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Issue Number</label>
          <input data-ng-model="issueNumber" required>
          <div ng-messages>
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Additional information for issue (for example: Jenning's Issue)</label>
          <input data-ng-model="notes">
        </md-input-container>
      </div>

      <md-input-container class="md-block" flex-gt-sm>
        <label>Season</label>
        <md-select ng-model="season" required>
          <md-option value="Spring">Spring</md-option>
          <md-option value="Summer">Summer</md-option>
          <md-option value="Fall">Fall</md-option>
          <md-option value="Winter">Winter</md-option>
        </md-select>
        <div ng-messages>
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block" flex-gt-sm>
        <label>Year</label>
        <input ng-model="year" type="number" step="1" required>
        <div ng-messages>
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <div>
        <md-button type="submit" class="md-raised">Submit</md-button>
      </div>
      <div data-ng-show="error">
        <strong data-ng-bind="error"></strong>
      </div>
    </form>
  </md-content>
</section>
