<section data-ng-controller="IssuesController" data-ng-init="find()" id="content">
  <!-- <h1>Issues</h1> -->
  <md-button href="/#!/issues/create">Create new issue</md-button>
  <ul id="issue-list">
    <li data-ng-repeat="issue in issues" id="single-issue">
      <h1 data-ng-href="#!/issues/{{issue._id}}">Número {{issue.issueNumber}}, {{issue.season}} de {{issue.year}}</h1>

      <h1 data-ng-href="#!/issues/{{issue._id}}">Issue {{issue.issueNumber}}, {{issue.season}} de {{issue.year}}</h1>
    </l1>
  </ul>
</section>
