<section data-ng-controller="IssuesController" data-ng-init="find()" id="content">
  <!-- <h1>Issues</h1> -->
  <md-button href="/#!/issues/create">Create new issue</md-button>
  <ul id="issue-list">
    <li data-ng-repeat="issue in issues" class="single-issue">
      <a href="/#!/issues/{{issue._id}}">Número {{issue.issueNumber}}, {{seasons[issue.season]}} de {{issue.year}}</a> / 

      <a href="/#!/issues/{{issue._id}}">Issue {{issue.issueNumber}}, {{issue.season}} {{issue.year}}</a>
    </li>
  </ul>
</section>
