<section data-ng-controller="EntriesController" id="content">
  <h1>New Entry</h1>
  <md-content layout-padding id="new-issue-form" >
    <form name="newEntry" data-ng-submit="newEntry.$valid && create()" novalidate>
  
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Author</label>
          <input data-ng-model="author" required>
          <div ng-messages>
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Type of document</label>
          <md-select ng-model="type" required>
            <md-option value="">---Please select---</md-option>
            <md-option value="Article">Article</md-option>
            <md-option value="Document">Document</md-option>
            <md-option value="Review">Review</md-option>
            <md-option value="Tribute">Tribute</md-option>
          </md-select>
          <div ng-messages>
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
      </div>

      <md-input-container class="md-block" flex-gt-sm>
        <label>English Title</label>
        <input data-ng-model="titleEn" required>
        <div ng-messages>
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block" flex-gt-sm>
        <label>Portuguese Title</label>
        <input data-ng-model="titlePt" required>
        <div ng-messages>
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block" flex-gt-sm>
        <label>Issue it belongs to</label>
        <input ng-model="issue" type="number" step="1" required>
        <div ng-messages>
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block" flex-gt-sm>
        <label>Abstract</label>
        <textarea name="abstract" ng-model="abstractDesc" required></textarea>
        <div ng-messages>
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <h2 class="md-title">Portuguese Keywords</h2>
      <md-chips ng-model="keywordsPt" readonly="false"></md-chips>

      <h2 class="md-title">English Keywords</h2>
      <md-chips ng-model="keywordsEn" readonly="false"></md-chips>

      <div>
        <md-button type="submit" class="md-raised">Submit</md-button>
      </div>
      <div data-ng-show="error">
        <strong data-ng-bind="error"></strong>
      </div>
    </form>
  </md-content>
</section>
