<section data-ng-controller="EntriesController as ctrl" id="content">
  <h1>New Entry</h1>
  <md-content layout-padding id="new-issue-form" >
    <form name="newEntry" 
          data-ng-submit="newEntry.$valid && ctrl.selectedItem && create(ctrl.selectedItem)" novalidate>
        <h3 ng-bind="titleEn"></h3>

        <div layout-gt-sm="row">
          <div id="autocomplete">
            <md-autocomplete
                ng-disabled="ctrl.isDisabled"
                md-no-cache="ctrl.noCache"
                md-selected-item="ctrl.selectedItem"
                md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                md-search-text="ctrl.searchText"
                md-selected-item-change="ctrl.selectedItemChange(item)"
                md-items="item in ctrl.querySearch(ctrl.searchText)"
                md-item-text="item.name + ' ' + item.last"
                md-min-length="0"
                md-floating-label="Author">
              <md-item-template>
                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.name}} {{item.last}}</span>
              </md-item-template>
              <md-not-found>
                No authors matching "{{ctrl.searchText}}" were found.
        <!-- <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a> -->
              </md-not-found>
            </md-autocomplete>
          </div>

          <md-input-container class="md-block" flex-gt-sm>
            <md-button class="md-raised md-primary" ng-click="dialogCreate($event)">
              Create New Author 
            </md-button>
          </md-input-container>

        </div>

        <div layout-gt-sm="row">

          <md-input-container class="md-block" flex-gt-sm>
            <label>Type of document</label>
            <md-select ng-model="type" required>
              <md-option value="">---Please select---</md-option>
              <md-option value="Article">Article</md-option> <md-option value="Document">Document</md-option>
              <md-option value="Review">Review</md-option>
              <md-option value="Tribute">Tribute</md-option>
            </md-select>
            <div ng-messages>
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </div>

        <md-input-container class="md-block" flex-gt-sm>
          <button ngf-select="addEntryPdf($files, $invalidFiles)" multiple
            accept="application/pdf"> <!--ngf-max-height="1000" ngf-max-size="1MB">-->
            Upload pdf</button>
            <ul>
              <li style="font:smaller">{{pdf.name}} {{pdf.$errorParam}}
              <span class="progress" ng-show="pdf.progress >= 0">
                <div style="width:{{pdf.progress}}%"  
                  ng-bind="pdf.progress + '%'"></div>
              </span>
              </li>
              <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
              </li> 
            </ul>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>English Title</label>
          <input data-ng-model="titleEn" required>
          <div ng-messages>
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Portuguese Title</label>
          <input data-ng-model="titlePt" required>
          <div ng-messages>
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Issue it belongs to</label>
          <input ng-model="issue" required>
          <div ng-messages>
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <h2 class="md-title">English Keywords (Press enter after each keyword)</h2>
        <md-chips ng-model="keywordsEn" readonly="false"></md-chips>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Abstract</label>
          <textarea name="abstractDescEn" data-ng-model="abstractDescEn"></textarea>
          <div ng-messages>
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <h2 class="md-title">Portuguese Keywords (Press enter after each keyword)</h2>
        <md-chips ng-model="keywordsPt" readonly="false"></md-chips>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Abstract</label>
          <textarea name="abstractDescPt" data-ng-model="abstractDescPt"></textarea>
          <div ng-messages>
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <md-button class="md-raised md-primary" ngf-select="addImages($files, $invalidFiles)" multiple
            accept="image/*"> <!--ngf-max-height="1000" ngf-max-size="1MB">-->
            Upload images</md-button>
            <ul>
              <div id="entry-image" >
              <li ng-repeat="image in imageFiles" style="font:smaller">
              {{image.name}} {{image.$errorParam}}
              <span class="progress" ng-show="image.progress >= 0">
                <div style="width:{{image.progress}}%"  
                  ng-bind="image.progress + '%'">
                </div>
              </span>
                <img ngf-thumbnail="image || '/thumb.jpg'" width="100" >
              </li>
              <li ng-repeat="f in imgErrFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
              </li> 
              </div>
            </ul>
        </md-input-container>

      <md-button type="submit" class="md-raised">Submit</md-button>
      <div data-ng-show="error" class="put-center">
        <strong class="flash" data-ng-bind="error"></strong>
      </div>
  
    </form>
  </md-content>
</section>

<script type="text/ng-template" id="createAuthor.tmpl.html">
  <md-dialog aria-label="Create Author" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create Author</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <form role="form" ng-submit="answer()">
              <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs="">
                  <label>Name</label>
                  <input ng-model="createAuthor.name" size="30" placeholder="Author's name">
                </md-input-container>

                <md-input-container class="md-block" flex-gt-xs="">
                  <label>Lastname</label>
                  <input ng-model="createAuthor.last" size="30" placeholder="Author's lastname">
                </md-input-container>

              </div>
                <md-input-container class="md-block" flex-gt-xs="">
                  <label>Biography/Description</label>
                  <textarea ng-model="createAuthor.bio"  size="30" placeholder="Write author's bio"></textarea>
                </md-input-container>

                <md-button type="submit" class="md-raised md-primary">Save</md-button>
          </form>
      </div>
    </md-dialog-content>
  </md-dialog>
</script>
