<section data-ng-controller="EntriesController" data-ng-init="find()" id="content">
  <h1 data-ng-bind="title"></h1>
  <md-button href="/#!/entries/create">Create new entry</md-button>
  <ul id="entry-list">
    <li data-ng-repeat="entry in entries" class="list-single-entry">
      <hr>
      <h2><a data-ng-href="#!/entries/{{entry._id}}">{{entry.author}}</a></h2>
      <h3>{{entry.titleEn}}</h3>
      <h3>[{{entry.titlePt}}]</h3>
      <div layout-gt-sm="row" layout-align="end center">
          <md-button ng-show="entry.pdf" class="orangered" href="/file/{{entry.pdf}}">pdf</md-button>
          <md-button ng-show="entry.images.length>0" class="orangered" href="#!/entries/{{entry._id}}#view-entry-images">Imagens / Images</md-button>
          <md-button ng-show="entry.abstractDescEn || entry.abstractDescPt || entry.keywordsEn.length>0 || entry.keywordsPt.length>0" class="orangered" ng-click="toggleAbstract($index)">Resumo / Abstract </md-button>
      </div>
      <div class="abstract" style="display:none">
        <p><strong>Keywords: </strong>
          <span ng-repeat="word in entry.keywordsEn">{{word}}<span data-ng-show="!$last">, </span></span>
        <p>{{entry.abstractDescEn}}</p>
        <p><strong>Palavras-chave: </strong>
          <span ng-repeat="word in entry.keywordsPt">{{word}}<span data-ng-show="!$last">, </span></span>
        <p>{{entry.abstractDescPt}}</p>
      </div>

      <!-- Probably need to add confirmation on deletion  -->
      <div data-ng-show="authentication.user" layout-gt-sm="row" layout-align="end center">
        <md-button href="/#!/entries/{{entry._id}}/edit">Edit</md-button>
        <md-button class="md-warn" data-ng-click="delete(entry);">Delete</md-button>
      </div>
    </li>
  </ul>
</section>
