<section data-ng-controller="EntriesController" data-ng-init="findOne()" id="content">
  <h1 class="center">{{entry.author}}</h1>
  <h2 class="center">{{entry.titleEn}}</h1>
  <h2 class="center">[{{entry.titlePt}}]</h1>
  <a href="#"> Link to pdf / </a>
  <a href="#"> Link to images</a>


  <h2>Abstract</h1>
  <p><strong>Keywords:</strong>
    <span ng-repeat="word in entry.keywordsEn">{{word}}<span data-ng-show="!$last">, </span></span>
  </p>
  <p>{{entry.abstractDesc}}</p>

  <h2>Resumo</h1>
  <p><strong>Palavras-chave:</strong>
    <span ng-repeat="word in entry.keywordsPt">{{word}}<span data-ng-show="!$last">, </span></span>
  <p>{{entry.abstractDesc}}</p>
  </p>

  <h3 data-ng-bind="entry.type"></h3>

  <!-- TODO: Populate issue in mongo -->
  <h3 data-ng-bind="entry.issue"></h3> 

  <small>
    <em>Posted on</em>
    <em data-ng-bind="entry.created | date:'mediumDate'"></em>
  </small>

  <!-- Probably need to add confirmation on deletion  -->
  <div data-ng-show="authentication.user" layout-gt-sm="row">
    <md-button href="/#!/entries/{{entry._id}}/edit">Edit</md-button>
    <md-button class="md-warn" data-ng-click="delete();">Delete</md-button>
  </div>

  
</section>
