<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
  <head>
    <title><%= title %></title>
    <link rel="icon" type="image/png" href="/img/pp-flavicon.png">

    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arvo:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href="/lib/angular-carousel/dist/angular-carousel.css" rel="stylesheet" type="text/css" />
    <link href="/lib/angular-material/angular-material.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

    <script src="/js/jquery-2.2.0.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div id="top-bar">
        <a href="/#!/"><img src="img/logo.png" title="Pessoa Plural"></a>
        <a href="/#!/"><div class="nav">Sobre<br>About</div></a>
        <a href="/#!/entries?type=Tribute"><div class="nav">Tributos<br>Tributes</div></a>
        <a href="/#!/entries?type=Review"><div class="nav">Críticas<br>Reviews</div></a>
        <a href="/#!/entries?type=Document"><div class="nav">Documentos<br>Documents</div></a>
        <a href="/#!/entries?type=Article"><div class="nav">Artigos<br>Articles</div></a>
        <a href="/#!/issues"><div class="nav">Números<br>Issues</div></a>
        <a href="/#!/"><div class="nav">Autores<br>Authors</div></a>
      </div>

      <!-- TODO -->
      <div id="content">
        <div class="page-content">
          <h1>Sobre | About</h1>
          <h2>A Revista | The Journal</h2>
          <div class="column">
            <p>Pessoa Plural é uma revista académica internacional, dedicada a estudos sobre Fernando Pessoa, editada pelo Departamento de Estudos Portugueses e Brasileiros de Brown, pelo Departamento de Estudos Literários Comparativos da Universidade de Warwick e pelo Departamento de Humanidades e Literatura da Universidad de los Andes. Está aberta à publicação de ensaios e documentos e a recensões críticas. Estas últimas são solicitadas. Após uma avaliação inicial da pertinência dos textos submetidos, os directores iniciarão o processo de arbitragem duplamente anónima comum em revistas congéneres. A revista tem como objectivo a publicação dos melhores estudos sobre Fernando Pessoa, independentemente de qualquer perspectiva teórica, metodológica ou ideológica.</p>
            <p>Pessoa Plural is an international peer-reviewed scholarly journal dedicated to studies of Fernando Pessoa. It is published jointly by  the Department of Portuguese and Brazilian Studies at Brown University, the Department of English and Comparative Literary Studies at Warwick University and the Department of Humanities and Literature of the University of the Andes. It publishes essays, documents, and commissioned book reviews. All submitted articles are initially screened by the editors. If judged pertinent to the journal, then they are submitted to a process of double-blind review. It is our aim to publish the best scholarship and criticism on Fernando Pessoa, regardless of theoretical methodological or ideological perspective.</p>
          </div>

          <h2>Os Editores | The Editors</h2>
          <div class="column">
            <p><b>Onésimo Almeida</b><br>
            Onesimo_Almeida@Brown.edu<br>
            Box O<br>
            Brown University<br>
            Providence, RI 02912<br>
            USA</p>

            <p><b>Paulo de Medeiros</b><br>
            P.de-Medeiros@warwick.ac.uk <br>
            Department of English and Comparative Literary Studies <br>
            University of Warwick<br>
            Coventry, CV4 7AL<br>
            United Kingdom</p>

            <p><b>Jerónimo Pizarro</b><br>
            j.pizarro188@uniandes.edu.co <br>
            Departamento de Humanidades y Literatura<br>
            Universidad de los Andes<br>
            Calle 18A No. 0-19 Este, Bloque ÑE<br>
            Bogotá<br>
            Colombia</p>
          </div>

          <h2>O Editor das Recensões | The Book Review Editor</h2>
          <div class="column">
            <p><b>Patricio Ferrari (Universidade de Lisboa)</b><br>
            patricio_ferrari@brown.edu<br>
            Box O<br>
            Brown University<br>
            Providence, RI 02912 <br>
            USA</p>
          </div>

          <h2>O Conselho Editorial | The Editorial Board</h2>
          <div class="column">
            <p>Arnaldo Saraiva (Universidade do Porto)<br>
            Carlos Pittella-Leite (Universidade de Lisboa)<br>
            Cláudia Pazos-Alonso (Wadham College, Oxford University)<br>
            Cleonice Berardinelli (Academia Brasileira de Letras)<br>
            Eduardo Lourenço (Universidade de Nice) <br>
            Ellen Sapega (University of Wisconsin at Madison)<br>
            Fernando Cabral Martins (Universidade Nova de Lisboa)<br>
            Fernando Martinho (Universidade de Lisboa)<br>
            George Monteiro (Brown University) <br>
            Helena Buescu (Universidade de Lisboa)<br>
            João Dionísio (Universidade de Lisboa)<br>
            José Barreto (Instituto de Ciências Sociais, Lisboa)<br>
            José Carlos Seabra Pereira (Universidade de Coimbra)<br>
            José Blanco (Pessoa Scholar)<br>
            Leyla Perrone-Moisés (Universidade de S. Paulo)<br>
            Lurdes Sampaio (Universidade do Porto)<br>
            Marco Pasi (Universiteit van Amsterdam)<br>
            Maria Irene Ramalho (Universidade de Coimbra)<br>
            Patricio Ferrari (Universidade de Lisboa)<br>
            Patrick Quillier (Université de Nice-Sophia Antipolis)<br>
            Steffen Dix (Instituto de Ciências Sociais, Lisboa)</p>
          </div>
        </div>
      </div>
      <div class="push"></div>
    </div>
    <div id="footer">
      <div class="footer-content">
        <p>Ed. Onésimo Almeida, Paulo de Medeiros &amp; Jerónimo Pizarro</p>
        <p>© COPYRIGHT PESSOA PLURAL, 2012-2016. ALL RIGHTS RESERVED. PESSOA PLURAL IS A JOINT-PUBLICATION OF: / É UMA PUBLICAÇÃO CONJUNTA DE: BROWN UNIVERSITY, WARWICK UNIVERSITY &amp; UNIVERSIDAD DE LOS ANDES. ISSN: 2212-4179.</p>
      </div>
    </div>

    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="/lib/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="/lib/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="/lib/angular-messages/angular-messages.js"></script>

    <script>
        var aboutModuleName = "about";

        var aboutModule = angular.module(aboutModuleName,
                              ['ngMaterial']);

        angular.element(document).ready(function() {
          angular.bootstrap(document, [aboutModuleName]);
        });
    </script>
  </body>
</html>
